.stepper_plus{
    width: 100%;
    height: 50px !important;
    box-shadow: none !important;
}
.v-application a.navbar-item{
    text-decoration: none;
    color: var(--v-secondary-darken1);
}
.v-application--wrap{
    background-color: #F5F5F5   ;
}